body{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:400px;
}
.container{
    text-align: center;
}
.container h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(32, 129, 129);
    border: 3px solid gray;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    text-shadow: 1px 1px 20px white;
}
.hero{
    text-transform: uppercase;
    background-color: transparent;
    color: #222;
    font-weight: 700;
    border: 2px solid #222;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
}
.hero:hover{
    color: white;
    background-color: rgb(32, 129, 129);
}
